<html>
<head></head>
<body>
Dear <%= email %> ,

<p>
    Welcome and thank you for signing up for RoomHunt. Please click on the link below to verify your account.
</p>
<a href="<%= link %>">Activate your account</a>
<br>
<br>
Regards,
<br>
Team RoomHunt
</body>
</html>
